/* .name {
    color: rgba(77, 181, 255, 0.4);
} */
header {
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
}


.h-ancore {
    width: max-content;
    display: inline-block;
    color: #4db5ff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid #4db5ff;
    margin: 5px;
}

.h-ancore:hover {
    color: white;
    background-color: #4db5ff;
}

.h-socile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    margin-left: 15%;
    height: 20vh;
    font-size: 40px;
}

.hs-s {
    color: #4db5ff;
}

.me {
    background-color: #4db5ff;
    height: 20rem;
    width: 18rem;
    /* position: absolute; */
    /* left: calc(50% - 11rem); */
    margin-top: 1.8rem;
    border-radius: 12rem 12rem 0 0;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}


@media screen and (max-width: 1024px) {

    .h-socile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        left: 0;
        bottom: 3rem;
        margin-left: 15%;
        height: 68vh;
        /* display: none */
    }

}

@media screen and (max-width: 600px) {

    .h-socile {

        display: none;



    }

}